*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'work sans';
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    height: 100%;
    width: 100%;
}

#nav{
    width: 100%;
    height: 80px;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

#nav-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2px;
}
.gola{
    height: 20px;
    width: 20px;
    background-color: black;
    border-radius: 50%;
}

#nav-part2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
#nav-part2 h4 span{
    color: rgb(127, 127, 127);
    margin-left: 20px;
}
#nav-part2 h4{
    font-size: 16px;
    font-weight: 600;
}
#nav h5{
    display: none;
}

#nav2{
    height: 70px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    /* justify-content: flex-start; */
    gap: 100px;
    padding: 0 50px;
}
#nav2 h3{
    font-size: 18px;
    font-weight: 600;
}

#content{
    height: calc(100% - 150px);
    width: 100%;
    /* background-color: aquamarine; */
}
#text-content{
    height: 40%;
    width: 100%;
    /* background-color: burlywood; */
    display: flex;
    overflow-x: auto;
}
/* To target the scroll bar  */
#text-content::-webkit-scrollbar{
    background-color: transparent;
    height: 7px;
}
#text-content::-webkit-scrollbar-thumb{
    background-color: orangered;
    width: 10px;
}
.elem{
    flex-shrink: 0;
    height: 100%;
    width: 60%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.elem h1{
    /* font-size: 130px; */
    font-size: 7vw;
    font-weight: 300;
}

#image-content{
    height: 60%;
    width: 100%;
    background-color: rebeccapurple;
    display: flex;
    overflow-x: auto;
}
#image-content::-webkit-scrollbar{
    background-color: transparent;
    height: 0px;
}

#image-content img{
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media (max-width:600px) {

    
#nav{
    height: 70px;
    padding: 0 25px;
}


#nav-part1{
    gap:0px;
}

.gola{
    height: 16px;
    width: 16px;
    background-color: black;
    border-radius: 50%;
}

#nav-part2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
#nav-part2 h4:nth-child(1)
{
    /* background-color: red; */
    margin-right: -30vw;
    display: initial;
}
#nav-part2 h4 span{
    color: rgb(127, 127, 127);
    margin-left: 10px;
}
#nav-part2 h4{
    font-size: 15px;
    display: none;
    font-weight: 600;
}
#nav h5{
    display: initial;
}
#nav h5 i{
    font-size: 20px;
    font-weight: 700;
}

#nav2{
    height: 70px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 0 25px;
}
#nav2 h3{
    font-size: 2vw;
    font-weight: 600;
    color: #6a6a6a;
}



#content{
    height: calc(100% - 140px);
    width: 100%;
    /* background-color: aquamarine; */
}
#text-content{
    height: 35%;
    width: 100%;
    /* background-color: burlywood; */
    display: flex;
    overflow-x: auto;
}
/* To target the scroll bar  */
#text-content::-webkit-scrollbar{
    background-color: transparent;
    height: 5px;
}
#text-content::-webkit-scrollbar-thumb{
    background-color: orangered;
    width: 10px;
}
.elem{
    flex-shrink: 0;
    height: 100%;
    width: fit-content;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}
.elem h1{
    /* font-size: 130px; */
    font-size: 24vw;
    white-space: nowrap;
    font-weight: 300;
}

#image-content{
    height: 65%;
    width: 100%;
    background-color: rebeccapurple;
    display: flex;
    overflow-x: auto;
}
#image-content::-webkit-scrollbar{
    background-color: transparent;
    height: 0px;
}

#image-content img{
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
#image-content img :nth-child(3){
    object-position: left;
}

    
}